.bannerApropos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/public/images/bannerApropos.png");
    background-size: cover;
    background-position: center;
    height: 223px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {

    .bannerApropos{
    height: 111px;
    
}

}