.logement{
    color: #FF6060;
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    .logementInfoOWner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
         .tag{
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FF6060 ;
            border-radius: 10px;
            height: 25px;
            width: 170px;
            color: white;

        }
        
    
        
    }


    .logementBarInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .barWidth{
            width: 45%;
        }
    
    }

}


