.Apropos{
   margin: 40px;
}

.AproposBox{
   margin: 30px 80px;
   display: flex;
   flex-direction: column;
   gap: 30px;

}

@media screen and (max-width: 600px) {

   .Apropos{
      margin: 20px;
   }

   .AproposBox{
      margin: 20px 0px;
      gap: 20px;

   }


}