
.logementInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .logementTitreLocation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0px;
    }

    .tags{
        display: flex;
        flex-direction: row;
        gap: 10px;
    

        .tag{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #FF6060 ;
            border-radius: 10px;
            height: 25px;
            width: 115px;
            color: white;
        }
    }

}

