
.logementInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .logementTitreLocation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0px;


        .logementTitle{
            
            h2{
                margin: 0px;
            }
        }
    }

    .tagsBox{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}

