
.logementOwner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

    .Owner{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .pictureOwner{
            height: 64px;
            width: 64px;
            


            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 32px;  
            }
        }
    }


    .ratingOwner{
        display: flex;
        flex-direction: row;
        gap:10px;

        .starInactive{
            color: #E3E3E3;
        }
    }
}