.carrousel{

    position: relative;
    color: white;

    img{
        object-fit: cover;
        width: 100%;
        height: 400px;
        border-radius: 20px;        
    }

    

        .fa-chevron-left{
            left: 20px ;
            position: absolute;
            top: 50%; /* Positionnement au milieu verticalement */
            transform: translateY(-50%); /* Ajustement pour le centrage vertical exact */
            cursor: pointer;
        }

        .fa-chevron-right{
            right: 20px;
            position: absolute;
            top: 50%; /* Positionnement au milieu verticalement */
            transform: translateY(-50%); /* Ajustement pour le centrage vertical exact */
            cursor: pointer;
        }

    

    .count{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 600px) {
    
    .carrousel{


        img{
            height: 255px;
        
        }

        .fa-chevron-left{
           font-size: 24px;
           left: 10px;
        }

        .fa-chevron-right{
           font-size: 24px;
           right: 10px;
        }



    }
}