
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;


   .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      a {
         text-decoration: none;
         color: #FF6060;
         font-weight: 500;
         font-size: 24px;
         line-height: 34.22px;
         margin: 0px;

         :hover{
            text-decoration: underline;
         }
      }
   }


   a.active{
      text-decoration: underline;
   }

   .logoHeader{
    width: 210.32px;
    height: 68px;
   }
}

 @media screen and (max-width: 600px) {

   .navbar{
      margin: 20px;

   .nav{
      gap: 20px;

      a {
         font-weight: 500;
         font-size: 12px;
         line-height: 17.11px;
      }
   }
   
   .logoHeader{
    width: 145px;
    height: 46.88px;
   }
}
  


}