.gallery{
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {

    .gallery{
        background-color: transparent;
        gap: 10px;
        padding: 0px;
    }


}