
.footer-content{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 209px;
    gap: 30px;
    margin-top: 0px;
}

 .logoFooter{
    width: 122px;
    height: 39.44px;
    margin-top: 80px;
 }

 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    margin: 0px;
 }
 footer{
   padding: 0px;
 }