.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/public/images/banner.png");
    background-size: cover;
    background-position: center;
    height: 223px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;

}

 h1{
        font-size: 48px;
        font-weight: 500;
        line-height: 68.45px;
    }



@media screen and (max-width: 550px) {

   .banner{
        height: 111px;
        justify-content: flex-start;
    
    }
        h1{
        margin-left: 20px;
        width: 217px;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
    }

}